<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirecionar todas as solicitações para index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
